registry=http://rchrepository.service.raiffeisen.ch:8081/repository/rch-npm-group/
sass_binary_site=http://rchrepository.service.raiffeisen.ch:8081/repository/risikosteuerungs-systeme.raw.hosted/node-sass/
