<div class="container-fluid" style="padding-left: 5%; padding-right: 5%">
  <div class="row" style="margin-top: 5rem">

    <div class="match-column col-12 col-md-8">

      <div class="match-box row" style="margin: 1rem">

        <div class="team1 border col" style="margin: 1rem">
          <div class="row">
            <div class="col-12">
              <h3 class="text-center">Team 1</h3>
            </div>
            <div class="w-100"></div>
            <div class="col-12">
              <h5 class="text-center">Player 1</h5>
            </div>
            <div class="w-100"></div>
            <div class="col-12">
              <h5 class="text-center">Player 2</h5>
            </div>
          </div>
        </div>
        <!--        <div class="w-100 d-none d-md-block d-lg-none"></div>-->
        <div class="w-100 d-none d-md-block d-lg-none"></div>
        <div class="col-xl-2" style="margin: 1rem">
          <h3 class="text-center" style="margin-top: 1rem" >VS</h3>
        </div>
        <!--        <div class="w-100 d-none d-md-block d-lg-none"></div>-->
        <div class="w-100 d-none d-md-block d-lg-none"></div>
        <div class="team2 border col" style="margin: 1rem">
          <div class="row">
            <div class="col-12">
              <h3 class="text-center">Team 2</h3>
            </div>
            <div class="w-100"></div>
            <div class="col-12">
              <h5 class="text-center">Player 3</h5>
            </div>
            <div class="w-100"></div>
            <div class="col-12">
              <h5 class="text-center">Player 4</h5>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="players-column col">
      <div class="players-box" style="margin: 1rem">

      </div>
      <button mat-raised-button style="margin: 1em" *ngFor="let player of players">{{player.name}}</button>
    </div>
  </div>
</div>
