/*.match-box {
  border: solid;
  border-color: #3d5fb2;
  border-radius: 5px;
}*/

.player-placeholder {
  border: dotted;
  border-color: #ff9380;
  margin-bottom: 1em;
  font-style: italic;
  font-size: medium;
}


