.match-box {
  border: solid;
  border-color: black;
}

.player-placeholder {
  border: dotted;
  border-color: cadetblue;
  background-color: lightgray;
  font-style: italic;
  font-size: medium;

}
