.player-placeholder {
  border: dotted;
  border-color: #ff9380;
  margin-bottom: 1em;
  font-style: italic;
  font-size: medium;
}

button {
  font-size: large;
  min-width: 110px;
  min-height: 50px;
}

.col-12 {
  flex-grow: 1;
  transition: all 400ms ease;
  transition-delay: 400ms;
}

.col-xl-8 {
  flex-shrink: 1;
  transition: all 400ms ease;
  transition-delay: 0ms;
}

.result-buttons {
  margin-top: 1em;
  flex-grow: 1;
  transition: all 400ms ease;
  transition-delay: 400ms;
}

.team {
  margin-left: 1rem;
  margin-right: 1em;
}

.team-title {
  margin-bottom: 1em;
  margin-top: 1em;
}

.players-box {
  margin: 1rem;
}

.players-box .player-button {
  margin: 1em;
}

.team .player-button {
  margin-bottom: 1em;
}

.point-select {
  width: 80px;
  margin-top: 3rem;
}


